<a href="/movie/thor-love-and-thunder" class="card-links">
  <div class="col">
    <div class="card">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_hcdl/sources/r1/cms/prod/8295/1328295-h-b05c8156e59a"
        class="card-img-top"
        alt="Thor: Love and Thunder"
      />
      <div class="card-body">
        <h5 class="card-title">Thor: Love and Thunder</h5>
        <p class="card-text">July 8, 2022</p>
      </div>
    </div>
  </div>
</a>
