<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-section') %>    
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- movie data -->
    <h1><%= id %></h1>    
  </body>
</html>
