<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-section') %>
    <link rel="stylesheet" href="/css/sign.css" />
    <script defer src="/js/signup-validation.js"></script>
  </head>

  <body style="background-color: #3b373a">
    <section
      class="d-flex justify-content-center align-items-center container mt-5"
      style="height: 85vh"
    >
      <div class="row align-items-center text-md-start text-center text-light">
        <div class="col-md-4 customfont mb-5 mb-md-0">MARVEL WORLD</div>
        <div class="col-md-7">
          <form action="/signup" method="POST">
            <div class="mb-3">
              <div class="form-floating mb-3">
                <input
                  style="background-color: transparent; border: none"
                  type="text"
                  name="name"
                  required
                  class="form-control text-light border-bottom"
                  id="name"
                  placeholder="name@example.com"
                />
                <label for="name">Full name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  style="background-color: transparent; border: none"
                  type="email"
                  name="email"
                  required
                  class="form-control text-light border-bottom"
                  id="email"
                  placeholder="name@example.com"
                />
                <label for="email">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  style="background-color: transparent; border: none"
                  type="password"
                  name="password"
                  required
                  class="form-control text-light border-bottom"
                  id="password"
                  placeholder="password"
                />
                <label for="password">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  style="background-color: transparent; border: none"
                  type="password"
                  name="confirmPassword"
                  required
                  class="form-control text-light border-bottom"
                  id="confirmPassword"
                  placeholder="password"
                />
                <label for="confirmPassword">Confirm password</label>
                <small id="messageBox" class="text-danger d-none"
                  >Passwords must be same</small
                >
              </div>
            </div>
            <button type="submit" class="btn btn-light btn-block w-100">
              Sign up
            </button>
          </form>
          <p class="mt-4 text-light">
            Already have an account?
            <a class="text-danger" href="/login">Sign in</a>
          </p>
        </div>
      </div>
    </section>

    <!-- alert start -->
    <% if(message!=undefined) {%>
    <div
      id="alert-div"
      class="alert alert-danger position-fixed bottom-0 end-0 mb-5 me-3"
      style="max-width: 20rem"
      role="alert"
    >
      <%=message %>
    </div>
    <% } %>
    <!-- alert end -->

    <div class="fixed-bottom mb-2 text-center text-light">
      Made with <span class="text-danger">&hearts;</span> from Brocamp
    </div>

    <script>
      const alert = document.getElementById("alert-div");
      const alertShow = () => {
        alert.style.display = "none";
      };
      setTimeout(() => {
        alertShow();
      }, 3000);
    </script>
  </body>
</html>
